<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.typhoon.dao.CommentMapper">
	<resultMap id="BaseResultMap" type="com.typhoon.bean.Comment">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="oid" jdbcType="INTEGER" property="oid" />
		<result column="gid" jdbcType="INTEGER" property="gid" />
		<result column="uid" jdbcType="INTEGER" property="uid" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="gname" jdbcType="VARCHAR" property="gname" />
		<result column="uname" jdbcType="VARCHAR" property="uname" />
		<result column="createtime" jdbcType="TIMESTAMP"
			property="createtime" />
	</resultMap>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from t_comment
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.typhoon.bean.Comment">
		insert into t_comment (id, content, oid,
		gid, uid
		)
		values (#{id,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR},
		#{oid,jdbcType=INTEGER},
		#{gid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}
		)
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.typhoon.bean.Comment">
		update t_comment
		set content = #{content,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select c.id, c.content, c.oid, c.gid, c.uid, c.createtime,
		o.price,
		g.name gname,u.name uname
		from t_comment c,t_order o,t_goods g,t_user u
		where c.id = #{id,jdbcType=INTEGER}
		and c.oid=o.id
		and c.gid=g.id
		and c.uid=u.id
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select c.id, c.content, c.oid, c.gid, c.uid, c.createtime,
		o.price,
		g.name gname,u.name uname
		from t_comment c,t_order o,t_goods g,t_user u
		where c.oid=o.id
		and c.gid=g.id
		and c.uid=u.id
		order by c.id desc
	</select>
	<select id="selectByUser" resultMap="BaseResultMap">
		select c.id, c.content, c.oid, c.gid, c.uid, c.createtime,
		o.price,
		g.name gname,u.name uname
		from t_comment c,t_order o,t_goods g,t_user u
		where c.oid=o.id
		and c.gid=g.id
		and c.uid=u.id
		and c.uid=#{uid}
		order by c.id desc
	</select>
	<select id="selectByGid" resultMap="BaseResultMap">
		select c.id, c.content, c.oid, c.gid, c.uid, c.createtime,
		o.price,
		g.name gname,u.name uname
		from t_comment c,t_order o,t_goods g,t_user u
		where c.oid=o.id
		and c.gid=g.id
		and c.uid=u.id
		and c.gid=#{gid}
		order by c.id desc
	</select>
</mapper>